$_paddings: (
        xs:   5px,
        s:    10px,
        m:    15px,
        l:   20px
);

$_directions:(left, right, top, bottom);

@each $direction in $_directions{
  @each $key, $value in $_paddings{
    .u-padding-#{$direction}-#{$key}{
      padding-#{$direction}: #{$value};
    }
  }
}
