//text aligns
$_text_aligns: (center, left, right, justify);

@each $item in $_text_aligns{
  .u-text-#{$item}{
    text-align: #{$item};
  }
}


//line heights
$_line_Heights:(
  xs:  1,
  s:   1.25,
  m:   1.5,
  lg:  1.75,
  xlg: 2
);

@each $key, $value in $_line_Heights{
  .u-line-height-#{$key}{
    line-height: #{$value};
  }
}


//font sizes
$_fontSize:(
        xs:   11px,
        s:    12px,
        m:    13px,
        lg:   14px,
        xlg:  15px
);

@each $key, $value in $_fontSize{
  .u-font-size-#{$key}{
    font-size: #{$value};
  }
}



//text-transform
.u-text-uppercase{
  text-transform: uppercase !important;
}

.u-text-lowercase{
  text-transform: lowercase !important;
}